* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #010a01;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 30px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

header h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 100%;
    border-radius: 15px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    font-size: 30px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: rgb(255, 255, 255, 0.9);
}

.indicator:hover {
    background-color: rgb(255, 255, 255, 0.7);
}

@media (max-width: 768px) {

    .prev,
    .next {
        padding: 8px;
        font-size: 24px;
    }

    .indicator {
        width: 10px;
        height: 10px;
    }
}