body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}
h1 {
    margin-bottom: 20px;
    font-size: 3em;
    color: #b859d4;
}
.weather-info {
    margin-bottom: 20px;
}
.weather-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #777;
}
.weather-info h2 {
    margin: 10px 0;
    font-size: 2em;
    color: #333;
}
.weather-icon {
    margin-top: 20px;
}
.weather-icon img {
    width: 100px;
    height: 100px;
}