body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0f0f0f;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
}

#text-to-type {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.5;
}

#user-input {
    width: 100%;
    height: 150px;
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#start-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#result p {
    display: block;
    margin: 5px 0;
}

#time, #accuracy, #wpm {
    font-weight: bold;
}

.correct {
    color: rgb(99, 189, 99);
}

.incorrect {
    color: rgb(201, 3, 3);
}